.main{
    width: 75%;    
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.singlePost{
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 20px;
    border-radius: 10px;
}

.singlePost h2 {
    text-align: center;
}

.singlePost div{
    display: flex;
    flex-direction: column;
    color: gray;
}

.comments{
    border: 1px solid rgb(212, 212, 212);
    padding: 10px 5px;
    margin: 0 0 10px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 300px;
    overflow-y: auto;
}