.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.form button {
  background-color: rgb(2, 53, 53);
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
}